@import url("https://fonts.googleapis.com/css?family=Manrope");

body {
  font-family: "Manrope", sans-serif;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .Intro {
    h1 {
      font-size: 30px;
      font-weight: 800;
    }
    p {
      font-size: 15px;
    }
  }
}
