.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .Intro {
    h1 {
      font-size: 30px;
      font-weight: 800;
    }
    p {
      font-size: 15px;
    }
  }

  .PricingBody {
    border: 1px solid black;
    // padding: 10px;
  }

  .InfoBody {
    display: flex;
  }
}

.Container > * {
  margin: 30px;
}
