.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .Intro {
    border: 1px solid black;
    h1 {
      font-size: 30px;
      font-weight: 800;
    }
    p {
      font-size: 15px;
    }
  }

  .PricingBody {
    border: 1px solid black;
    // padding: 50px;
  }

  .InfoBody {
    display: flex;
    justify-content: space-around;
  }

  .InfoText {
    display: flex;
    flex-direction: column;
  }

  .InfoText > * {
    display: flex;
    align-items: center;
  }

  .InfoText,
  li > * {
    margin: 10px;
  }

  .InfoText,
  img {
    height: 15px;
  }
}

.Container > * {
  margin: 30px;
}
