.Container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/bg-pattern.svg);
  // background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .Intro {
    background-image: url(../images/pattern-circles.svg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    text-align: center;

    h1 {
      font-size: 30px;
      font-weight: 800;
      // margin: 30px;
    }
    p {
      font-size: 15px;
    }
  }

  .PricingBody {
    background-color: hsl(0, 0%, 100%);
    // border: 1px solid black;
    border-radius: 10px;
    // padding: 50px;
  }

  .InfoBody,
  .InfoText,
  .InfoText > * {
    display: flex;
  }

  .InfoBody {
    justify-content: space-around;
  }

  .InfoText {
    flex-direction: column;
  }

  .InfoText > * {
    align-items: center;
  }

  .InfoText,
  li > * {
    margin: 10px;
  }

  .InfoText,
  img {
    height: 15px;
  }
}

.Container > * {
  margin: 30px;
}
